.task-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #1f1f1f;
  color: #fff;
}

.data-grid-container {
  margin-top: 20px;
  padding: 20px;
  width: 95%;
  height: 50vh;
  background-color: #444;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

.add-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #3e8e41;
}

.commit-button {
  background-color: #423bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.commit-button:hover {
  background-color: #2d28b7;
}


.MuiDataGrid-cell {
  color: #ffffff;
}

.empty-cell {
  border: 1px solid;
  background-color: #ea000057;
}

.MuiDataGrid-columnHeaderTitle {
  color: #c3c3c3;

}

body {
  background-color: #333;
  color: #fff;
}